/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/assets/vendors
/public/assets/
/public/js
/assets
/public/backend/
/public/backend/upload
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/resources/views/products/text.blade.php
/resources/views/vendor/
/public/assets/vendors/flag-icon-css/flags/4x3/il.svg
/public/assets/vendors/flag-icon-css/flags/4x3/ie.svg
/public/backend/partials/_sidebar.html/